# 문제 설명
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

# 제한 조건
n은 1이상 8000000000 이하인 자연수입니다.

In [ ]:
def solution(n):
    return int(''.join(sorted(str(n),reverse=True)))

In [ ]:
n=118372
solution(n)

873211

- 정수 n을 str로 변환 -> list 형식으로 변환 
- list n을 내림차순으로 정렬 sort()
- list -> string으로 `" ".join()` 변환해준 뒤 int로 바꿔서 return

# join()
- ' '.join(리스트)
- '구분자'.join(리스트)
- join 함수는 매개변수로 들어온 리스트에 있는 요소 하나하나를 합쳐서 하나의 문자열로 바꾸어 반환하는 함수입니다.

- 참조 : https://blockdmask.tistory.com/468